*.gem
*.rbc
.rbx
.bundle
.config
.yardoc
.rvmrc
.ruby-version
.ruby-gemset
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
test/reports
test/data/*.txt
test/data/male_surnames_spec.rb
test/data/female_surnames_spec.rb
test/data/generator.rb
test/tmp
test/version_tmp
tmp
test.html
*.tsv
